body{
  background: -moz-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A0D3D3), color-stop(30%, #A0D3D3), color-stop(100%, #AFCA89)); /* safari4+,chrome */
background: -webkit-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* opera 11.10+ */
background: -ms-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* ie10+ */
background: linear-gradient(91deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0D3D3', endColorstr='#AFCA89',GradientType=1 ); /* ie6-9 */
}

@media (max-width: 500px) {
    .navbar-right{
        display:none;
    }
    .map{
      height: 400px;
      margin: 0;
    }
}

.map{
  height:700px;
  margin: 0;
}

.login-window{
  border: 1px solid #212121;
  background: #E5E3DF;
  border-radius: 5px;
  margin-left: -7px;
}

.quest-details{
  min-height: : 420px;
}
