body{
  background: -moz-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A0D3D3), color-stop(30%, #A0D3D3), color-stop(100%, #AFCA89)); /* safari4+,chrome */
background: -webkit-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* opera 11.10+ */
background: -ms-linear-gradient(359deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* ie10+ */
background: linear-gradient(91deg, #A0D3D3 0%, #A0D3D3 30%, #AFCA89 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0D3D3', endColorstr='#AFCA89',GradientType=1 ); /* ie6-9 */
}

.body{
  font-family: 'Open Sans', sans-serif
}

@media (max-width: 750px) {
    .navbar-right{
        display:none;
    }
    .map{
      height: 400px;
      margin: 0;
    }
}

.nerdy{
  font-family: 'Press Start 2P', cursive;
}

.navbar-brand{
  font-family: 'Press Start 2P', cursive;
}

.map{
  height:700px;
  margin: 0;
}

.login-window{
  position: fixed;
  bottom: 0;
  margin-bottom: 85px;
  margin-left: 20px;
  background: rgba(253,253,253,.7);
  padding: 10px;
  border-radius: 20px;
  max-width: 250px;
}
