
<div class="col-md-9">

  <!-- make a map that centers on current location or santa monica. dependent on ng-map -->
  <ng-map center="{{ 'current-location' || '[34.0194,-118.4911]'}}" zoom="14">

    <!-- a marker with your current location -->
    <shape id="circle" name="circle" centered="true"
      stroke-color='#42a5f5' stroke-opacity="0.95"stroke-weight="4"
      center="current-position" radius="40"></shape>

    <marker ng-repeat="p in loginCtrl.eventLocations"
            on-click="loginCtrl.showDetail(event, p)"
            title="{{ p.name }}"
            id='{{p._id}}'
            position="{{ p.location }}" >
    </marker>

    <info-window id="event-iw">
        <div ng-non-bindable>
          <!-- Stuff in the info window! -->
          <!-- id: {{ loginCtrl.eventLocations.data._id }}<br/> -->
          <!-- name: {{ loginCtrl.selectedLocation.name }} -->
          <!-- Position 1: {{loginCtrl.eventLocations.data.location}}<br/> -->
          <!-- <a href="#" ng-click="loginCtrl.clicked()">Details</a> -->
        </div>
      </info-window>

  </ng-map>
  <ul> Locations
    <li ng-repeat="p in loginCtrl.eventLocations">{{ p }}</li>
  </ul>
</div>
<div class="col-md-3">
  <h1>Login</h1>
  <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginCtrl.loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginCtrl.disabled">Login</button>
      </div>
  </form>
</div>
