
<div class="col-md-10">

  <!-- make a map that centers on current location or santa monica. dependent on ng-map -->
  <ng-map class="map"default-style="false" center="{{ 'current-location' || '[34.0194,-118.4911]'}}" zoom="12">

    <!-- a marker with your current location -->
    <shape id="circle" name="circle" centered="true"
      stroke-color='#42a5f5' stroke-opacity="0.95"stroke-weight="4"
      center="current-position" radius="40"></shape>

    <!-- markers for each event -->
    <marker ng-repeat="p in loginCtrl.eventLocations"
            on-click="loginCtrl.showDetail(event, p)"
            title="{{ p.name }}"
            id='{{p._id}}'
            position="{{ p.location }}" >
    </marker>
    <!-- markers for meetup events -->
    <marker ng-repeat="p in loginCtrl.meetupLocations"
            on-click="loginCtrl.showDetail(event, p)"
            title="{{ p.name }}"
            id='{{ p.id }}'
            position="[{{ p.venue.lat }}, {{ p.venue.lon }}]" >
    </marker>

  </ng-map>
  <ul>
    <li ng-repeat="p in loginCtrl.meetupLocations">{{ p.venue.address_1 }}</li>
  </ul>

</div>
<div class="col-md-2 login-window">
  <h2>Login</h2>
  <h3>and contribute!</h3>
  <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginCtrl.loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginCtrl.disabled">Login</button>
        <button ui-sref="register" class="btn btn-info">Sign-Up</button>
      </div>
  </form>

  <div class="quest-details">
    <h2>Quest</h2>
    <p>Click a marker for details</p>
    <h3>Name: </h3>
    <h4>{{loginCtrl.eventDetails.name}} </h4>
    <h3>Location:
    <h4>{{ loginCtrl.eventDetails.address || loginCtrl.eventDetails.venue.address_1}}</h4>
    <h3>Date:</h3>
    <p>{{ loginCtrl.eventDetails.date || loginCtrl.eventDetails.time | date}}</p>
    <!-- <h3>Details</h3> -->
    <!-- <p>{{ loginCtrl.eventDetails.description || loginCtrl.eventDetails.description}}</p> -->
  </div>

</div>
