
<div class="container">
  <div class="row">
    <div>
      <h1>Logged in as: {{ postCtrl.currentUser.username }}</h1>
      <h2>Post a Nerdy Event Here!</h2>
      <a ui-sref="login" class="btn btn-success">Return to Map</a>
    </div>
  </div>
  <div class="row">
    <div>
      <form ng-submit="postCtrl.addEvent()">
        <div class="form-group">
          <input class="form-control" ng-model="postCtrl.newEvent.name" type="text" placeholder="Event Name">
          <input class="form-control" ng-model="postCtrl.newEvent.address" type="text" placeholder="Address (precise as possible)">
          <input class="form-control" ng-model="postCtrl.newEvent.date" type="date">
          <input class="form-control" ng-model="postCtrl.newEvent.description" type="text" placeholder="description">
          <button class="btn btn-default"type="submit" name="button">Submit</button>
        </div>
      </form>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="event in postCtrl.currentUser.events"> Event Name: {{ event.name }} | Event Address: {{ event.address}}</li>
      </ul>
    </div>
  </div>

</div>
